<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="C_GESTION_USERSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49680/C_GESTION_USERS.asmx"
                binding="basicHttpBinding" bindingConfiguration="C_GESTION_USERSSoap"
                contract="NS_WS.C_GESTION_USERSSoap" name="C_GESTION_USERSSoap" />
        </client>
    </system.serviceModel>
</configuration>